PORT=
DB_CONNECTION=
DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# require('crypto').randomBytes(64).toString('hex')
JWT_SECRET=
JWT_EXPIRES_IN=

# SMSPoh
SMS_SERVICE_PROVIDER=
SMSPOH_API_URL=
SMSPOH_TOKEN=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=